@charset "UTF-8";

a.btn{
    display:block;
    width:80px;
    line-height:30px;
    text-align:center;
    background-color:gray;
    color:#fff;
    text-decoration: none;
}
 
button.btn{
    width:80px;
    height:30px;
    border:none;
    background-color:#222;
    color:#fff;
}
body{
	background: lightgray;
}